---
import "@/styles/layout-common.css";
import "@/styles/layout-two-column.css";
import type { CollectionEntry } from "astro:content";
import type { NavItemType } from "@/components/navbar/NavTypes";
import type {
  TocItem,
  RelatedPost,
  QuickNavigation,
  SidebarConfig,
} from "@/components/sidebar/SidebarTypes";
import LayoutMainColumn from "./shared/LayoutMainColumn.astro";
import LayoutPrimarySidebar from "./shared/LayoutPrimarySidebar.astro";

interface WidgetsConfig {
  randomPosts?: boolean;
  recentComments?: boolean;
  recentCommentsLimit?: number;
}

interface Props {
  posts: CollectionEntry<"posts">[];
  widgetsConfig?: WidgetsConfig;
  commentsEnabled?: boolean;
  walineServerURL?: string;
  footerConfig?: any;
  siteName: string;
  author?: string;
  sidebarConfig?: SidebarConfig;
  navLinks?: NavItemType[];
  toc?: TocItem[];
  relatedPosts?: RelatedPost[];
  currentSlug?: string;
  navigation?: QuickNavigation;
  siteState: {
    categories: number;
    posts: number;
    tags: number;
  };
}

const {
  posts,
  widgetsConfig = {},
  commentsEnabled = false,
  walineServerURL = "",
  footerConfig = {},
  siteName,
  author = "",
  sidebarConfig,
  navLinks = [],
  toc = [],
  relatedPosts = [],
  currentSlug = "",
  navigation = {},
  siteState,
} = Astro.props;
---

<div class="inner layout-frame layout-two-column">
  <LayoutPrimarySidebar
    config={sidebarConfig}
    {navLinks}
    {toc}
    {relatedPosts}
    {currentSlug}
    {navigation}
    {siteState}
  />
  <LayoutMainColumn
    {posts}
    {widgetsConfig}
    {commentsEnabled}
    {walineServerURL}
    {footerConfig}
    {siteName}
    {author}
  >
    <slot />
  </LayoutMainColumn>
</div>
